.dashboard-container {
  min-height: 100vh;
  background-color: #f5f6fa;
}

/* HEADER ATAS */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f6fb2;
  padding: 12px 24px;
}

/* BRAND (LOGO + TEKS) */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-logo {
  height: 40px;
  width: auto;
}

.header-title {
  background: #ffffff;
  padding: 6px 14px;
  border-radius: 12px;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  background: white;
  color: #5f6fb2;
}


.logout-btn:hover {
  opacity: 0.9;
}

/* WARNA BRAND */
.bisindo {
  color: #5f6fb2;
}

.ku {
  color: #f4c430;
}

/* ISI */
.dashboard-content {
  padding: 30px;
}

/* MENU GRID */
.dashboard-menu {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* CARD MENU */
.menu-card {
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 14px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-card h3 {
  margin: 0;
  font-size: 16px;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}
